.select-area {
  background: transparent; /* importante para exibir o novo ícone */
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 16px;
  height: 34px;
  line-height: 1;
  padding: 5px;
  width: 268px;
}
